<div class="container-fluid">
  <div style="color: blue;">
    <h1>{{title}}</h1>

  </div>

  <nav>
    <a routerLink="etudiants" class="btn btn-primary active" role="button" routerLinkActive="active">ETUDIANTS</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signup">Créer un compte</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signin">Connexion</a>
      </li>
      <li>
        <a (click)="onSignOut()"
           style="cursor:pointer"
           *ngIf="isAuth">Déconnexion</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
